/* General Styles */
.navbar {
  background-color: #0b2038;
  color: white;
  padding: 15px 20px;
  font-family: Arial, sans-serif;
}

.navbar-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-logo h1 {
  margin: 0;
  margin-left: 40px;
  font-size: 40px;
  font-weight: bold;
  color: white;
}

.navbar-actions {
  display: flex;
  gap: 10px;
  margin-right: 50px;
}

.btn {
  background-color: black;
  color: white;
  border: 2px solid white;
  padding: 8px 15px;
  border-radius: 20px;
  cursor: pointer;
  font-size: 18px;
  transition: all 0.3s ease;
}

.btn:hover {
  background-color: white;
  color: #0b2038;
}

/* Hamburger Menu */
.hamburger {
  display: none;
  cursor: pointer;
}

/* Navigation Links */
.navbar-links {
  display: flex;
  justify-content: center;
  gap: 50px;
  margin-bottom: 10px;
}

.navbar-links ul {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}

.navbar-links ul li {
  margin: 0 30px;
}

.navbar-links ul li a {
  color: white;
  text-decoration: none;
  font-size: 18px;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  gap: 10px;
}

.navbar-links ul li a:hover {
  text-decoration: none;
}

/* Mobile View */
@media screen and (max-width: 768px) {
  .navbar-actions {
    display: none;
  }

  .hamburger {
    display: block;
  }

  .navbar-links {
    display: none;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #0b2038;
    position: absolute;
    left: 0;
    right: 0;
    padding: 10px;
  }

  .navbar-links.open {
    display: flex;
  }

  .navbar-links ul {
    flex-direction: column;
  }

  .navbar-links ul li {
    margin: 0;
    padding: 10px 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  }

  .line{
    display: none;
  }

  .navbar-links ul li:last-child {
    border-bottom: none; 
  }
}
